/* Add screen styles below */

body {
    background: #c7c7c7;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 15px solid #424242;
    margin: 0 auto;
    color:rgb(255, 255, 255)
}

main {
    margin: 0 auto;
    width: 880px;
}

.masthead {
    background-image: url('Computer.jpg');
    background-size: cover;
    border-radius: 20px;
    height: 500px
}

.details {
    display: flex;
    gap: 25px;
}

.details section {
    flex-grow: 1;
    flex-basis: 0;
    background: #769ba0;
    padding: 30px;
    border-radius: 20px;
    margin-top: 25px;
}

img {
    width: 100%;
} 

h1 {
    background-image: url('Icon.png');
}

h2 {
    margin: 0 0 5px 0;
}

p{
    margin: 0;
    line-height: 0.5cm;
}

